<!DOCTYPE html>
<html lang="en">
<head>
    <meta title="EnteteV2" charset="UTF-8">
    <link rel="stylesheet" href="../Style/EnteteV2.css">
</head>
<body>
<nav>
<ul>
  <li><a>Patient</a></li>
    <li><a href="../../Controleur/ScenarioProf/Radio.php">Radio</a></li>
    <li><a href="../../Controleur/ScenarioProf/Diagnostic.php">Diagnostic</a></li>
  <li><a href="../../Controleur/ScenarioProf/Prescription.php"> Prescription </a></li>
  <li><a href="../../Controleur/ScenarioProf/Securite.php">Securite</a></li>
  <li><a href="../../Controleur/ScenarioProf/Soins.php">Soins Relationnel</a></li>
    <li><a href="../../Controleur/ScenarioProf/Elimination.php">Elimination</a></li>
    <li><a href="../../Controleur/ScenarioProf/Cardio.php">Cardio</a></li>
    <li><a href="../../Controleur/ScenarioProf/Mobilite.php"> Mobilite </a></li>
    <li><a href="../../Controleur/ScenarioProf/Hygiene.php"> Hygiene </a></li>
    <li><a href="../../Controleur/ScenarioProf/Alimentation.php"> Alimentation </a></li>
    <li><a href="../../Controleur/ScenarioProf/SoinsClassique.php"> Soins </a></li>
    <li><a href="../../Controleur/ScenarioProf/Neuro.php"> Neuro </a></li>
    <li><a href="../../Controleur/ScenarioProf/Respi.php"> Respi </a></li>
    <li><a href="../../Controleur/ScenarioProf/autre.php"> Autre </a></li>



</ul>
</nav>




</body>
</html>