<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NouveauMDP</title>
  <link rel="stylesheet" href="../../View/Style/SiteIFSI2.css?v=<?php echo time();?">
  <script src="../../Modele/Fonction/LesFonctionsJS.js"></script>
</head>

<body>
<!--Boutton traduction et logo-->
<header>
  <form>
    <input class="boutton trad" type="submit" value="English" name="langue" onclick="changerLangue()">
  </form>
  <a href="Accueil.php">
    <img src="../../View/image/logoIFSI.png" width=468 height=250 alt="">
  </a>
  <h1>Institut de Formation aux Soins Infirmiers (IFSI)</h1>
</header>

<div class ="contenu">
  <div class="item">
    <h2>Nouveau mot de passe</h2>
    <h3>Entrez votre nouveau mot de passe, puis retournez vous connecter.</h3>
    <form method="post">
      <label for="mdp">
        <input type="password" name='mdp' id="mdp" placeholder="Entrez votre nouveau MDP" required>
        <button class="boutton autre" type="button" onclick="changer('mdp')">O</button>
      </label>
      <label for="mdp2">
        <input type="password" name='mdp2' id="mdp2" placeholder="Confirmez votre MDP" required>
        <button class="boutton autre" type="button" onclick="changer('mdp2')">O</button>
      </label>
      <input class="boutton submit" type="submit" value="Valider"></p>
    </form>
  </div>

  <!--Liens vers d'autres pages-->
  <div class="item liens">
    <a class="lien" href="../../Controleur/Accueil/Accueil.php">Se connecter</a>
    <a class="lien" href="../../Controleur/Accueil/CreateAccount.php">Créer un compte</a>
    <a class="lien" href="../../Controleur/Accueil/BesoinAide.php">Besoin d'aide</a>
  </div>
</div>
</body>
</html>