<!DOCTYPE html>
<html lang="en">
<head>
    <meta title="EnteteV2" charset="UTF-8">
    <link rel="stylesheet" >
    <title></title>
</head>
<body>
<nav>
    <ul>
        <li><a>Patient</a></li>
        <li><a href="../../../Controleur/Prof/ContrainteScenario/Radio.php">Radio</a></li>
        <li><a href="../../../Controleur/Prof/ContrainteScenario/Diagnostic.php">Diagnostic</a></li>
        <li><a href="../../../Controleur/Prof/ContrainteScenario/Prescription.php"> Prescription </a></li>
        <li><a href="../../../Controleur/Prof/ContrainteScenario/Securite.php">Securite</a></li>
        <li><a href="../../../Controleur/Prof/ContrainteScenario/Soins.php">Soins Relationnel</a></li>
        <li><a href="../../../Controleur/Prof/ContrainteScenario/Elimination.php">Elimination</a></li>
        <li><a href="../../../Controleur/Prof/ContrainteScenario/Cardio.php">Cardio</a></li>
        <li><a href="../../../Controleur/Prof/ContrainteScenario/Mobilite.php"> Mobilite </a></li>
        <li><a href="../../../Controleur/Prof/ContrainteScenario/Hygiene.php"> Hygiene </a></li>
        <li><a href="../../../Controleur/Prof/ContrainteScenario/Alimentation.php"> Alimentation </a></li>
        <li><a href="../../../Controleur/Prof/ContrainteScenario/SoinsClassique.php"> Soins </a></li>
        <li><a href="../../../Controleur/Prof/ContrainteScenario/Neuro.php"> Neuro </a></li>
        <li><a href="../../../Controleur/Prof/ContrainteScenario/Respi.php"> Respi </a></li>
        <li><a href="../../../Controleur/Prof/ContrainteScenario/autre.php"> Autre </a></li>
    </ul>
</nav>
</body>
</html>